<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizteam3.server.post.dao.PostDao">

    <!-- 게시물 생성 -->
    <insert id="insertPost" useGeneratedKeys="true" keyProperty="postId" keyColumn="post_id" parameterType="com.bizteam3.server.post.entity.Post">
        INSERT INTO posts (
            user_id,
            caption,
            translated_caption,
            created_at,
            update_at
        ) VALUES (
            #{userId},
            #{caption},
            #{translatedCaption},
            SYSTIMESTAMP,
            SYSTIMESTAMP
        )
    </insert>

    <!-- 게시물 미디어 생성 -->
    <insert id="insertPostMedia" useGeneratedKeys="true" keyProperty="mediaId" keyColumn="media_id" parameterType="com.bizteam3.server.post.entity.PostMedia">
        INSERT INTO post_media (
            post_id,
            type,
            url,
            sort_order,
            original_file_name
        ) VALUES (
            #{postId},
            #{type},
            #{url},
            #{sortOrder},
            #{originalFileName}
        )
    </insert>

    <!-- 게시물 미디어 다중 생성 (Oracle INSERT ALL 방식) -->
    <insert id="insertPostMediaList" parameterType="java.util.List">
        INSERT ALL
        <foreach collection="list" item="media">
            IN INTO post_media (
                post_id,
                type,
                url,
                sort_order,
                original_file_name
            ) VALUES (
                #{media.postId},
                #{media.type},
                #{media.url},
                #{media.sortOrder},
                #{media.originalFileName}
            )
        </foreach>
        SELECT * FROM DUAL
    </insert>

</mapper>
