<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bizteam3.server.user.dao.UserDao">

    <!-- 회원가입 -->
    <insert id="insert" parameterType="com.bizteam3.server.user.entity.User">
        INSERT INTO users
            (username, password, name, bio, website, profile_img, account_vis)
        VALUES
            (#{username}, #{password}, #{name}, #{bio}, #{website}, #{profileImg}, #{accountVis})
    </insert>

    <!-- 회원정보 수정 -->
    <update id="update" parameterType="com.bizteam3.server.user.entity.User">
        UPDATE users
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="bio != null">
                bio = #{bio},
            </if>
            <if test="website != null">
                website = #{website},
            </if>
            <if test="profileImg != null">
                profile_img = #{profileImg},
            </if>
            <if test="accountVis != null">
                account_vis = #{accountVis},
            </if>
            update_at = SYSTIMESTAMP
        </set>
        WHERE user_id = #{userId}
          AND delete_at IS NULL
    </update>

    <!-- 회원 탈퇴 -->
    <update id="delete" parameterType="string">
        UPDATE users
        SET
            delete_at = SYSTIMESTAMP,
            update_at = SYSTIMESTAMP
        WHERE user_id = #{userId}
          AND delete_at IS NULL
    </update>

    <select id="countAll" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE DELETE_AT IS NULL
    </select>

    <select id="selectPage" resultType="com.bizteam3.server.user.entity.User">
        SELECT
            USER_ID,
            USERNAME,
            PASSWORD,
            NAME,
            BIO,
            WEBSITE,
            PROFILE_IMG,
            ACCOUNT_VIS,
            CREATED_AT,
            UPDATE_AT,
            DELETE_AT
        FROM users
        WHERE DELETE_AT IS NULL
        ORDER BY USER_ID
            OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <!-- 단건 조회 (탈퇴 여부 포함, 없으면 null) -->
    <select id="selectById" resultType="com.bizteam3.server.user.entity.User">
        SELECT
            USER_ID,
            USERNAME,
            PASSWORD,
            NAME,
            BIO,
            WEBSITE,
            PROFILE_IMG,
            ACCOUNT_VIS,
            CREATED_AT,
            UPDATE_AT,
            DELETE_AT
        FROM users
        WHERE user_id = #{userId}
    </select>

    <select id="findByUsername" resultType="com.bizteam3.server.user.entity.User">
        SELECT
            USER_ID,
            USERNAME,
            PASSWORD,
            NAME
        FROM users
        WHERE username = #{username}
          AND delete_at IS NULL
    </select>

    <select id="selectMeById" resultType="com.bizteam3.server.user.entity.User">
        SELECT
            USER_ID,
            USERNAME,
            NAME,
            PROFILE_IMG
        FROM users
        WHERE user_id = #{userId}
            AND delete_at IS NULL
    </select>

</mapper>
